.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.add-blog {
    color:rgb(93, 204, 93),
}

.add-blog:hover {
    color: rgb(39, 128, 39)
}

.hi {
    color: green;
    /* transition: all .3 ; */
}

.hi:hover {
    text-decoration: none;
}

.btn-profil:hover .hi {
    color: white;
}

