{% extends "base_generic.html" %}

{% block content %}
<h1 class="text-center"> New Blogs</h1>

<section class="mt-5">
    <article>
        <ul>
            {% for blog in blog_list %}
            <li><a href="{{blog.get_absolute_url}}">{{blog.name}}</a> -- <a href="{{blog.author.get_absolute_url}}">{{blog.author}}</a> -- {{blog.post_date}} </li>
            {% if not forloop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </ul>
    </article>
</section>
{% endblock %}